* {
    font-family: "Roboto";
    font-size: 14px;
    margin: none;
    border: none;
}

html, body { margin: 0; padding: 0; }

/* HEADER STYLES */
header {
    background-color: #dc4c3e;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#searchbar{
    display: flex;
    gap: 15px;
}

#searchbar button{
    background-color: #dc4c3e;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

#searchbar #search_container{
    background-color: #ff8a80;
    border: none;
    color: white;
    width: 18rem;
    border-radius: 3px;
    padding: 5px 10px;
    display: flex;
    gap: 5px;
}

#searchbar #search_bar{
    border:none;
    background: none;
    width: 100%;
}

#searchbar #search_bar::placeholder{
    color: white;
}

#task_counter {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}


main{
    display: flex;
    min-height: 100vh;
}


/* SIDEBAR STYLES */

#stats{
    display: flex;
    flex-direction: column;
    background-color: #fefbf2;
    width: 300px;
}

#stats ul{
    list-style-type: none;
    margin: 50px 100px 10px -10px;
}

#stats li{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

#stats .task_counter{
    color: #7e7d79;
    font-size: 12px;
    padding: 5px;
}

/* MAIN CONTENT */
#task_main{
    width: 100%;
    padding: 50px 80px;
    display:flex;
    flex-direction: column;
    gap:10px;
}

#task_main h1{
    font-size: 20px;
    margin: 5px 0px 0px 0px;
}

#task-list ul {
    padding: 0;
    margin: 0;
}

#task-list li {
    list-style: none;
    padding: 10px 0px;
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
}

#task-list li .task-container {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
}

#task-list li .task-container input{
    width: 13px;
    height: 13px;
    min-width: 13px;
    max-width: 13px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #7e7d79;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
}


#task-list li .task-container input[task-status="completed"] {
    appearance: none;
    background-color: #7e7d79;
}

#task-list li .task-container label[task-status="completed"] {
    text-decoration: line-through;
}

#task-list li button.close {
    background-color: white;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

#task-form .input-group {
    display: flex;
    gap: 10px;
    border: 1px solid #d6d6d6;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0px;
}

#task-form input {
    width: 100%;
    margin: 0px 10px;
}

#task-form input:focus {
    outline-width: 0;
}

#task-form button, #task-filter button {
    min-width: 80px;
    padding: 8px;
    border-radius: 20px;
    font-size: 12px;
}

#task-form button.disabled {
    background-color:#d6d6d6;
}

#task-form button.active,  #task-filter button[filter-status="active"]{
    background-color:#dc4c3e;
    color:white;
}

#task-filter {
    display: flex;
    gap: 10px;
}


/* RESPONSIVE STYLES */
@media (max-width: 480px) {

  #stats {
    display: none;
  }

}